<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('./header'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="table-responsive" id="user_table">
            <% if(err_msg.length > 0) { %>
                <div class="alert alert-danger m-b-0" id="ajax-alert" role="alert">
                        <%= err_msg %>
                </div><br>
            <% } %>
            <% if(success_msg.length > 0) { %>
                <div class="alert alert-success mt-4" role="alert">
                        <%= success_msg %>
                </div><br>
            <% } %>    
            <table border="1" class="table" style="width:80%;margin-left:6rem;margin-top:5rem;">
                <thead>
                    <tr>
                        <th style="text-align:left">Product Id</th>
                        <th style="text-align:left">Product Name</th>
                        <th style="text-align:left">Price</th>
                        <th style="text-align:left">Vendor</th>
                        <th style="text-align:left">Quantity</th>
                        <th style="text-align:left">Warrenty</th>
                        <th style="position: relative;left:20px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < data.length; i++){ %>
                        <tr>
                            <td>
                                <%- i+1 %>
                            </td>
                            <td>
                                <%- data[i].pname %>
                            </td>
                            <td>
                                <%- data[i].price %>
                            </td>
                            <td>
                                <%- data[i].quantity %>
                            </td>
                            <td>
                                <%- data[i].vendor %>
                            </td>
                            <td>
                                <%- data[i].warranty %>
                            </td>
                            <td><a href="/prod/editProduct/<%- data[i]._id %>" class="glyphicon"
                                    style="margin-left: 1rem;">&#x270f;</a>
                                <a href="/prod/deleteProduct/<%- data[i]._id %>"
                                    onclick="return confirm('Are you sure? you want to delete this item?');"><i
                                        class="fa fa-trash mx-3"></i></a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>